@import url('../place/__image/place__image.css');
@import url('../place/__link/place__link.css');
@import url('../place/__paragraph/place__paragraph.css');
@import url('../place/__title/place__title.css');
@import url('../place/__url-heading/place__url-heading.css');
@import url('../place/__website/place__website.css');
@import url('../place/__paragraphs/place__paragraphs.css');
.place{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.place:last-of-type{
    margin-bottom: 0;
}
@media screen and (min-width: 320px){
    .place{
        flex-direction: column;
    }
}
@media screen and (min-width: 768px){
    .place{
        flex-direction: row;
    }
}
